[server]
host=localhost
port=3306
user=root
password=123456
log_path=/var/log/slowquerydaemon.log

[moniter_0]
user=*
host=*
db=*
command=*
state=*
pattern=.*
timeout=60
operate=log

[moniter_1]
user=*
host=*
db=mydb1
command=*
state=*
pattern=.*select.*from.*a_big_table.*
timeout=3
operate=kill

[moniter_2]
user=*
host=*
db=mydb2
command=*
state=*
pattern=.*select.{3,20}from.*next_big_table.*
timeout=2
operate=log
